<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta http-equiv="refresh" content="600" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <title>{{.SiteTitle}}</title>
    </head>

    <!-- <body style="background-color:#37393b;"> -->
    <body>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- <img class="rounded" src="static/noimage.png" alt="Sample Image" height="200px"> -->

        <!-- Section: Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ImmoScraperGo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Hidden text fields -->
                <textarea type="text" cols="40" rows="1" id="myInput" style="visibility: hidden;">{{.ApartmentRequestText}}</textarea>
                <textarea type="text" cols="40" rows="1" id="myInput2" style="visibility: hidden;">{{.ApartmentRequestText2}}</textarea>
                <a href="https://www.immobilienscout24.de/Suche/de/hamburg/hamburg/wohnung-mit-einbaukueche-mieten?numberofrooms=2.0-4.0&price=-2000.0&livingspace=60.0-&pricetype=rentpermonth&geocodes=0200000006057,0200000005056,0200000006059,0200000001039,0200000005048,0200000001047,0200000004045,0200000001040,0200000005053,0200000006055,0200000005054&floor=1-&sorting=2&enteredFrom=result_list" target="_blank">ImmoScout24</a>
                <button onclick="showRequestText()">Anfragetext 1</button>
                <button onclick="showRequestText2()">Anfragetext 2</button>
            </div>
        </nav>

        <br/>

        <!-- Tabs navs -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-eka-tab" data-bs-toggle="tab" href="#nav-eka" role="tab" aria-controls="nav-eka" aria-selected="true">Kleinanzeigen ({{.NewItemsEKA}})</a>
                <a class="nav-link" id="nav-iw-tab" data-bs-toggle="tab" href="#nav-iw" role="tab" aria-controls="nav-iw" aria-selected="false">Immowelt ({{.NewItemsIW}})</a>
                <a class="nav-link" id="nav-om-tab" data-bs-toggle="tab" href="#nav-om" role="tab" aria-controls="nav-om" aria-selected="false">ohne-makler.net ({{.NewItemsOM}})</a>
                <a class="nav-link" id="nav-saga-tab" data-bs-toggle="tab" href="#nav-saga" role="tab" aria-controls="nav-saga" aria-selected="false">SAGA ({{.NewItemsIS24}})</a>
                <a class="nav-link" id="nav-buwog-tab" data-bs-toggle="tab" href="#nav-buwog" role="tab" aria-controls="nav-buwog" aria-selected="false">BUWOG ({{.NewItemsIS24}})</a>
                <a class="nav-link" id="nav-is24-tab" data-bs-toggle="tab" href="#nav-is24" role="tab" aria-controls="nav-is24" aria-selected="false">ImmoScout24 ({{.NewItemsIS24}})</a>
            </div>
        </nav>  

        <!-- Tabs content -->
        <br/>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-eka" role="tabpanel" aria-labelledby="nav-eka-tab">
                <!-- EKA items list -->
                <div class="list-group" style="width: 100%;">
                    <ul>
                        {{range .RealEstatesEKA}}
                        <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <img class="rounded" src="{{.ImageURL}}" alt="Sample Image" height="200px">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="media-heading">{{.Title}}</h5>
                                    <h5><b>{{.Location}}</b></h5>
                                    <h4><span class="badge bg-info">{{.Price}}</span> &nbsp; <span class="badge bg-info">{{.Area}}</span> &nbsp; <span class="badge bg-info">{{.Rooms}}</span></h3>
                                    <h6 class="media-heading">{{.TimeStamp}}</h6>
                                </div>
                            </div>
                          </a>
                    {{end}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-iw" role="tabpanel" aria-labelledby="nav-iw-tab">
                <!-- IW items list -->
                <div class="list-group" style="width: 100%;">
                    <ul>
                        {{range .RealEstatesIW}}
                        <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <img class="rounded" src="{{.ImageURL}}" alt="Sample Image" height="200px">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="media-heading">{{.Title}}</h5>
                                    <h5><b>{{.Location}}</b></h5>
                                    <h4><span class="badge bg-info">{{.Price}}</span> &nbsp; <span class="badge bg-info">{{.Area}}</span> &nbsp; <span class="badge bg-info">{{.Rooms}}</span></h3>
                                </div>
                            </div>
                          </a>
                    {{end}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-om" role="tabpanel" aria-labelledby="nav-om-tab">
                <!-- OM items list -->
                <div class="list-group" style="width: 100%;">
                    <ul>
                        {{range .RealEstatesOM}}
                        <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <img class="rounded" src="{{.ImageURL}}" alt="Sample Image" height="200px">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="media-heading">{{.Title}}</h5>
                                    <h5><b>{{.Location}}</b></h5>
                                    <h4><span class="badge bg-info">{{.Price}}</span> &nbsp; <span class="badge bg-info">{{.Area}}</span> &nbsp; <span class="badge bg-info">{{.Rooms}}</span></h3>
                                </div>
                            </div>
                          </a>
                    {{end}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-saga" role="tabpanel" aria-labelledby="nav-saga-tab">
                <!-- SAGA items list -->
                <div class="list-group" style="width: 100%;">
                    <ul>
                        {{range .RealEstatesSAGA}}
                        <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <img class="rounded" src="{{.ImageURL}}" alt="Sample Image" height="200px">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="media-heading">{{.Title}}</h5>
                                    <h5><b>{{.Location}}</b></h5>
                                    <h4><span class="badge bg-info">{{.Price}}</span> &nbsp; <span class="badge bg-info">{{.Area}}</span> &nbsp; <span class="badge bg-info">{{.Rooms}}</span></h3>
                                </div>
                            </div>
                          </a>
                    {{end}}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-buwog" role="tabpanel" aria-labelledby="nav-buwog-tab">
                <!-- BUWOG items list -->
                <div class="list-group" style="width: 100%;">
                    <ul>
                        {{range .RealEstatesBUWOG}}
                        <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <img class="rounded" src="{{.ImageURL}}" alt="Sample Image" height="200px">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="media-heading">{{.Title}}</h5>
                                    <h5><b>{{.Location}}</b></h5>
                                    <h4><span class="badge bg-info">{{.Price}}</span> &nbsp; <span class="badge bg-info">{{.Area}}</span> &nbsp; <span class="badge bg-info">{{.Rooms}}</span></h3>
                                </div>
                            </div>
                          </a>
                    {{end}}
                    </ul>
                </div>
            </div>
        </div>
       
    </body>
</html>

<script>

    function copyTextToClipboard() {
        var copyText = document.getElementById("myInput");
        copyText.select(); 
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        navigator.clipboard.writeText(copyText.value);
        alert("Copied the text: " + copyText.value);
    }

    function showRequestText() {
        var tmpInputField = document.getElementById("myInput");
        if (tmpInputField.style.visibility == "visible"){
            tmpInputField.style.visibility = "hidden"
        }
        else if (tmpInputField.style.visibility == "hidden"){
            tmpInputField.style.visibility = "visible"
        }
        //alert(tmpInputField.style.visibility);
    }

    function showRequestText2() {
        var tmpInputField = document.getElementById("myInput2");
        if (tmpInputField.style.visibility == "visible"){
            tmpInputField.style.visibility = "hidden"
        }
        else if (tmpInputField.style.visibility == "hidden"){
            tmpInputField.style.visibility = "visible"
        }
        //alert(tmpInputField.style.visibility);
    }

    function loadMore() {
        var e = document.getElementById("statusInfo");
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //e.outerHTML = xhr.responseText;
                e.outerHTML = "Status: lädt"
            }
        }
        xhr.open("GET", "/yda/queue/add/2", true);
        try { xhr.send(); } catch (err) { /* handle error */ }
    }

    function download(videoID) {
        var e = document.getElementById("statusInfo");
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                e.outerHTML = "Action log: Download started (" + videoID +")"
            }
        }
        xhr.open("GET", "/yda/queue/add/"+videoID, true);
        try { xhr.send(); } catch (err) { /* handle error */ }
    }

    async function test() {

        await Sleep(3000); // Pausiert die Funktion für 3 Sekunden
        var e = document.getElementById("statusInfo");
        e.outerHTML = "Action log:"

    }

</script>